version: "3.9"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: root
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  app:
    image: golang:1.22
    command: sh -c "sleep 5 && go run main.go"
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    networks:
      - backend
    environment:
      - DB_HOST=postgres
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=root
      - DB_PORT=5432

networks:
  backend:
    driver: bridge
